{{ define "title" }} :: {{ if eq .Data.Singular "category" }}{{ index $.Site.Data.categories .Title }}{{ else }}{{ index $.Site.Data.tags .Title }}{{ end }}{{ end }}

{{ define "main" }}
<div id="content" class="narrowcolumn">
    <h2>{{ if eq .Data.Singular "category" }}
		Archivo de la categoría '{{ index $.Site.Data.categories .Title }}'
		{{ else if eq .Data.Singular "tags" }}
		Archivo de la etiqueta '{{ index $.Site.Data.tags .Title }}'
		{{ else if gt .Data.Singular 2000 }}
		Archivo de {{ index $.Site.Data.months .Title }} de {{ .Data.Singular }}
		{{ end }}</h2>

    <div class="navigation">
		{{ if .Paginator.HasNext }}
		<div class="alignleft">
			<a rel="next" href="{{ .Paginator.Next.URL | absURL }}">&laquo; Entradas anteriores</a>
		</div>
    	{{ end }}
    	{{ if .Paginator.HasPrev }}
		<div class="alignright">
			<a rel="prev" href="{{ .Paginator.Prev.URL | absURL }}">Entradas siguientes &raquo;</a>
		</div>
    	{{ end }}
	</div>

    {{ range sort .Paginator.Pages "Date" "desc" }}
	<div class="post">
		<h3><a href="{{ .Permalink }}" rel="bookmark" title="Permalink a {{ .Title }}">{{ .Title }}</a></h3>
		<small>Publicado el {{ .Date.Day }} de {{ index $.Site.Data.months (printf "%d" .Date.Month) }} de {{ .Date.Year }} por <strong>{{ .Params.Author }}</strong></small>
		
		<div class="entry">
			{{ .Content }}
		</div>

		{{ partial "post_footer" . }}
	</div>
	{{ end }}

    <div class="navigation">
		{{ if .Paginator.HasNext }}
		<div class="alignleft">
			<a rel="next" href="{{ .Paginator.Next.URL | absURL }}">&laquo; Entradas anteriores</a>
		</div>
    	{{ end }}
    	{{ if .Paginator.HasPrev }}
		<div class="alignright">
			<a rel="prev" href="{{ .Paginator.Prev.URL | absURL }}">Entradas siguientes &raquo;</a>
		</div>
    	{{ end }}
	</div>
</div>
{{ end }}

{{ define "sidebar"}}
	{{ partial "sidebar" . }}
{{ end }}