{{ if isset .Params "tag" }}
{{ $tagsLen := len .Params.tag }}
{{ if gt $tagsLen 0 }}
<p class="postmetadata">
    Etiquetas:
    {{ range $k, $v := .Params.tag }}
    {{ $url := printf "tag/%s" (. | urlize | lower) }}
    <a rel="tag" href="{{ $url | absURL }}">{{ . }}</a>{{ if lt $k (sub $tagsLen 1) }}, {{ end }}
    {{ end }}
</p>
{{ end }}
{{ end }}

{{ if isset .Params "category" }}
{{ $categoriesLen := len .Params.category }}
{{ if gt $categoriesLen 0 }}
<p class="postmetadata">
    Categorías:
    {{ range $k, $v := .Params.category }}
        {{ $url := printf "category/%s" (. | urlize | lower) }}
        <a rel="category tag" href="{{ $url | absURL }}">{{ . }}</a>{{ if lt $k (sub $categoriesLen 1) }}, {{ end }}
    {{ end }}
{{ end }}
{{ end }}

{{/* Using scratch to count matching comments, filtering by postId does not work */}}
{{ $postId := .Params.id }}
{{ $.Scratch.Set "cc" 0 }}

{{ range .Site.Data.comments.comment }}
    {{ if (eq $postId .postId) }}
        {{ $curr := $.Scratch.Get "cc" }}
        {{ $.Scratch.Set "cc" (add $curr 1) }}
    {{ end }}
{{ end }}

{{ $commentCount := $.Scratch.Get "cc" }}
{{ if gt $commentCount 1}}
| <a href="{{ .Permalink }}">{{ $commentCount }} comentarios »</a>
{{ else if eq $commentCount 1}}
| <a href="{{ .Permalink }}">1 comentario »</a>
{{ else }}
| <a href="{{ .Permalink }}">Sin comentarios »</a>
{{ end }}
</p>