{{ define "main" }}
<div id="content">
	{{ range sort .Paginator.Pages "Date" "desc" }}
	<div class="post">
		<h2><a href="{{ .Permalink }}" rel="bookmark" title="Permalink a {{ .Title }}">{{ .Title }}</a></h2>
		<small>Publicado el {{ .Date.Day }} de {{ index $.Site.Data.months (printf "%d" .Date.Month) }} de {{ .Date.Year }} por <strong>{{ .Params.Author }}</strong></small>
		
		<div class="entry">
			{{ .Content }}
		</div>

		{{ partial "post_footer" . }}
	</div>
	{{ end }}

	<div class="navigation">
		{{ if .Paginator.HasNext }}
		<div class="alignleft">
			<a rel="next" href="{{ .Paginator.Next.URL | absURL }}">&laquo; Entradas anteriores</a>
		</div>
    	{{ end }}
    	{{ if .Paginator.HasPrev }}
		<div class="alignright">
			<a rel="prev" href="{{ .Paginator.Prev.URL | absURL }}">Entradas siguientes &raquo;</a>
		</div>
    	{{ end }}
	</div>
</div>
{{ end }}

{{ define "sidebar"}}
	{{ partial "sidebar" . }}
{{ end }}